.icButton {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: medium;
    border-radius: 8px;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}