.icNavbar {
    font-size: 20px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: black;
    background-color: #fff !important;
    box-shadow: 0 0px 5px #efefef;
    height: var(--navbar-height);
}

.icTopNavbar {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr /*10rem*/;
  padding: 1rem 2rem 0rem;
}

.icNavbarBranding {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icNavbarLinks {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.icNavbarButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icNavbarButton {
    border: none;
    background-color: #000;
    color: #fff;
    font-size:medium;
    border-radius: 8px;
    padding: 9px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.prestationsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 1rem;
  padding: 1rem 2rem
}

.icService {
  margin-bottom: .8rem;
  text-transform: capitalize;
}

.prestationsCategory {
  background-color: white;
  width: 100vw;
}
