[production]
> 0.2%
not dead
not op_mini all
not safari < 10
not chrome < 51
not android < 5
not ie < 12

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version

[ssr]
node 19
