.icWelcomeContainer {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
}

.icWelcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.icWelcomeButton {
  margin-top: 3rem;
  border: none;
  background-color: #A5E1F8;
  font-size: x-large;
  border-radius: 8px;
  padding: 9px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icNotifier {
  z-index: 99999;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
}

.icNotifier > div {
  padding: 10px 10px 4px 10px;
  box-shadow: 4px 4px 7px 2px rgb(0 0 0 / 40%);
  animation: .2s ease-in slidein;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.icNotifLoader {
  margin-top: 5px;
  width: 100%;
  background-color: #cccccc;
  height: 7px;
  border-radius: 5px;
  overflow: hidden;
}

.icNotifLoadBar {
  height: 100%;
  width: 0%;
  background-color: black;
}

@media (max-width: 767.98px) {
  .icWelcome {
    font-size: large;
  }
}
